{% extends 'email_newsletter/base.html' %}
{% block content %}

<main>
    <section class="py-6 text-center container">
        <div class="row py-lg-5">
            <div class="col-6 col-md-8 mx-auto">
                <h5>{{ title }}</h5>
                <p class="lead text-body-secondary">{{ text }}</p>
                <p>

                    <a href="{% url 'email_newsletter:create_client' %}" class="btn btn-success my-2">
                        {{ create_object }}</a>
                    <a href="{% url 'email_newsletter:homepage' %}" class="btn btn-dark my-2">
                    Вернуться на главную</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for object in object_list %}
                <div class="col">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <h4 class="card-header ">{{ object.name|truncatechars:18 }}</h4>
                        <div class="card-body">
                            <p class="card-text">{{ object.email }}</p>
                            <p class="card-text">{{ object.message|truncatechars:100 }}</p>
                            <p class="card-text">Создатель: {{ object.owner }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'email_newsletter:view_client' object.pk %}">Показать</a>
                                     {% if object.owner %}
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'email_newsletter:update_client' object.pk %}">Изменить</a>
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       href="{% url 'email_newsletter:delete_client' object.pk %}">Удалить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}